main {
    width: 400px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
}
ul.navigation {
    margin: 0 auto;
    width: 300px;
    max-width: calc(100% - 20px);
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    font-size: 18px;
}
ul.navigation li {
    position: relative;
    padding: 0 20px;
    text-align: center;
}
ul.navigation li:first-of-type:after {
    content: "|";
    position: absolute;
    right: -2px;
}
main h1 {
    text-align: center;
}
form {
    width: 100%;
}
fieldset {
    position: relative;
    padding: 60px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #eee;
}
.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 45px;
    position: relative;
}
.input-container label {
    width: calc(40% - 10px);
    margin: 0 10px 0 0;
    font-size: 18px;
}
.input-container input {
    width: calc(60% - 10px);
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
    padding: 5px;
}
.input-container .input-error {
    position: absolute;
    top: 35px;
    margin: 0;
    color: crimson;
    display: none;
}
.input-container .input-error.active {
    display: block;
}
fieldset button {
    width: 100%;
    background-color: lightgreen;
    border: none;
    height: 44px;
    border-radius: 5px;
    font-size: 18px;
}
fieldset button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}
legend {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-size: 18px;
}
a:focus,
input:focus,
button:focus {
    outline: 2px dotted black;
    outline-offset: 2px;
}
header .skip-link {
    position: absolute;
    font-size: 18px;
    background: #eee;
    border: 1px solid black;
    padding: 0 10px;
    top: -46px;
    left: 0;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top ease-in 0.25s;
}
header .skip-link:focus {
    top: 0;
    transition: top ease-in 0.25s;
}
